---
import Header from "../../components/Header.astro";
import Base from "../../Layout/Base.astro";
import Cards from "../../components/Cards.astro";
import PocketBase from "pocketbase";

const pb = new PocketBase("http://127.0.0.1:8090"); // Remplace par ton URL PocketBase

const offres = await pb.collection("maison").getFullList({
    sort: "-created",
});

offres.forEach((maison) => {
    maison.imageUrl = pb.files.getURL(maison, maison.image);
});

console.log(offres);
---

<Base titre="Offres">
    <h1 class="text-center text-3xl text-indigo-800 font-bold mt-10">Offres</h1>
    <p class="text-center text-xl mt-8 text-indigo-800 font-semibold">
        Découvrez nos offres
    </p>
    <div x-data="{ }" class="text-center my-4"></div>

    <div x-data="{ afficherfavori: false, vueGrille: true }">
        <button
            @click="vueGrille = true"
            :class="{ 'bg-blue-700 text-white': vueGrille, 'bg-gray-300': !vueGrille }"
            class="px-4 py-2 rounded-l border border-blue-700 transition-all"
        >
            Vue liste
        </button>
        <button
            @click="vueGrille = false"
            :class="{ 'bg-blue-700 text-white': !vueGrille, 'bg-gray-300': vueGrille }"
            class="px-4 py-2 rounded-r border border-blue-700 transition-all"
        >
            Vue grille
        </button>
        <a
            href="/offres/surface/80"
            class="text-blue-600 hover:underline mt-4 block"
            >Voir les maisons de plus de 80m²</a
        >
        <a
            href="/offres/prix/200000"
            class="text-blue-600 hover:underline mt-4 block"
            >Voir les maisons à moins de 200 000€</a
        >
        <a
            href="/offres/prix/400000/1000000"
            class="text-blue-600 hover:underline mt-4 block"
            >Voir les maisons entre 400 000€ et 1 000 000€</a
        >

        <button
            @click="afficherfavori = !afficherfavori"
            class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all"
        >
            <span x-show="!afficherfavori">Afficher les favoris</span>
            <span x-show="afficherfavori">Afficher tout</span>
        </button>

        <div
            x-show="!afficherfavori"
            :class="{ 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8': !vueGrille }"
        >
            {offres.map((offre) => <Cards {...offre} />)}
        </div>
        <div
            x-show="afficherfavori"
            :class="{ 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8': !vueGrille }"
        >
            {offres.map((offre) => offre.favori && <Cards {...offre} />)}
        </div>
    </div>
</Base>
